<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059922742746-l8ls7gpdbr5dk4k35np3cg63ol10jki7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059922742746-l8ls7gpdbr5dk4k35np3cg63ol10jki7</string>
	<key>API_KEY</key>
	<string>AIzaSyBur3cbrY8iX5HuO2G33ZGgoghn-R9c8II</string>
	<key>GCM_SENDER_ID</key>
	<string>1059922742746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sicklesNhsApp</string>
	<key>PROJECT_ID</key>
	<string>sickles-nhs-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sickles-nhs-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059922742746:ios:ea0a957daac1137a1e84e3</string>
	<key>DATABASE_URL</key>
	<string>https://sickles-nhs-app.firebaseio.com</string>
</dict>
</plist>